<await(userProfile from data.userProfileDataProvider) arg-userId=data.userId>
    <await-placeholder>
        This is alternate content while the async fragment is loading.
    </await-placeholder>
    <await-timeout>A timeout has occurred!</await-timeout>
    <await-error>A error has occurred!</await-error>
    <ul>
        <li>First name: ${userProfile.firstName}</li>
        <li>Last name: ${userProfile.lastName}</li>
        <li>Email address: ${userProfile.email}</li>
    </ul>
</await>

~~~~~~~
await(userProfile from data.userProfileDataProvider) arg-userId=data.userId
    await-placeholder -- This is alternate content while the async fragment is loading.
    await-timeout -- A timeout has occurred!
    await-error -- A error has occurred!
    ul
        li -- First name: ${userProfile.firstName}
        li -- Last name: ${userProfile.lastName}
        li -- Email address: ${userProfile.email}
