<async-fragment data-provider="data.userProfileDataProvider"
    var="userProfile"
    arg-userId="${data.userId}">

    <async-fragment-placeholder>
        This is alternate content while the async fragment is loading.
    </async-fragment-placeholder>
    <async-fragment-timeout>
        A timeout has occurred!
    </async-fragment-timeout>
    <async-fragment-error>
        A error has occurred!
    </async-fragment-error>

    <ul>
        <li>
            First name: ${userProfile.firstName}
        </li>
        <li>
            Last name: ${userProfile.lastName}
        </li>
        <li>
            Email address: ${userProfile.email}
        </li>
    </ul>

</async-fragment>