<tr data-bind="if: isVisible(),
               css: { danger: (!isPaid() && isOverdue()) }"/>

~~~~~~~
tr [
        data-bind="if: isVisible(),
               css: { danger: (!isPaid() && isOverdue()) }"
    ]
