<tr data-bind="if: isVisible(),\n               css: { danger: (!isPaid() && isOverdue()) }"/>

~~~~~~~
tr [
        data-bind="if: isVisible(),\n               css: { danger: (!isPaid() && isOverdue()) }"
    ]
