<div class="${data.foo and data.bar}">
</div>
<div class="${data.foo or data.bar}">
</div>
<div class="${data.foo lt data.bar}">
</div>

<my-custom-tag expression="data.foo ne data.bar" string="${data.foo gt data.bar}"/>