<body>
    <script>
        if (true) {
            console.log('Hello');
        } else {
            console.log('Bye');
        }
    </script>
</body>

~~~~~~~
body
    script
        ---
        if (true) {
            console.log('Hello');
        } else {
            console.log('Bye');
        }
        ---
