<var nameUpper=data.name.toUpperCase() nameLower=data.name.toLowerCase()>
    Hello ${nameUpper}!
    Hello ${nameLower}!
</var>

~~~~~~~
var nameUpper=data.name.toUpperCase() nameLower=data.name.toLowerCase()
    ---
    Hello ${nameUpper}!
    Hello ${nameLower}!
    ---
