<await(userProfile from data.userProfileDataProvider) arg-userId=data.userId>
    <await-placeholder>
        This is alternate content while the async fragment is loading.
    </await-placeholder>
    <async-fragment-timeout>A timeout has occurred!</async-fragment-timeout>
    <await-error>A error has occurred!</await-error>
    <ul>
        <li>First name: ${userProfile.firstName}</li>
        <li>Last name: ${userProfile.lastName}</li>
        <li>Email address: ${userProfile.email}</li>
    </ul>
</await>
