<div for(color in colors | separator=", " iterator=data.myIterator status-var=myLoop)>
    Hello
</div>

~~~~~~~
div [
        for(color in colors | separator=", " iterator=data.myIterator status-var=myLoop)
    ] - Hello
