<tabs>
    <tabs:tab title="Tab 1">Content for tab 1</tabs:tab>
    <tabs:tab title="Tab 2">Content for tab 2</tabs:tab>
</tabs>

~~~~~~~
tabs
    tabs:tab title="Tab 1" -- Content for tab 1
    tabs:tab title="Tab 2" -- Content for tab 2
