<script marko-init>
    var changeCase = require("change-case");
    var foo = require("foo");
</script>
<div>Hello ${changeCase.titleCase('john doe')}!</div>

~~~~~~~
script marko-init
    ---
    var changeCase = require("change-case");
    var foo = require("foo");
    ---
div -- Hello ${changeCase.titleCase('john doe')}!
