<div if(test === "a")>A</div>
<div else-if(test === "b")>B</div>
<div else-if(test === "c")>C</div>
<div else>Something else</div>

~~~~~~~
div if(test === "a") - A
div else-if(test === "b") - B
div else-if(test === "c") - C
div else - Something else
